In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
path = "FullCrimeData.csv"
Crime_df = pd.read_csv(path)
Crime_df.head()

,year,sex,race,hispanic_origin,age,marital_status,household_income,population,region,residence_location,victim_offender_relationship,weapon_category,crime_type,injury,incident_location
0,2009,male,black,hispanic,50 to 64,divorced,7500 - 14999,1000000 or more,midwest,urban,stranger,no weapon,robbery,no,at or near victim's home
1,2009,male,white,hispanic,18 to 20,never married,35000 - 49999,100000 - 249999,south,urban,unknown relationship,other,aggravated assault,no,school
2,2009,female,other,non-hispanic,25 to 34,never married,less than 7500,100000 - 249999,midwest,urban,stranger,no weapon,simple assault,no,commercial place parking lot or public area
3,2009,female,white,non-hispanic,25 to 34,never married,75000 or more,100000 - 249999,midwest,urban,well-known acquaintances,no weapon,simple assault,no,at or near victim's home
4,2009,male,white,non-hispanic,50 to 64,married,75000 or more,500000 - 999999,south,urban,well-known acquaintances,no weapon,simple assault,no,commercial place parking lot or public area

In [5]:
# Create a filtered dataframe from specific columns
VO_cols = ["region", "victim_offender_relationship"]
crime_transformed= Crime_df[VO_cols].copy()
crime_transformed.head()

    region victim_offender_relationship
0  midwest                     stranger
1    south         unknown relationship
2  midwest                     stranger
3  midwest     well-known acquaintances
4    south     well-known acquaintances

In [18]:
vo_by_region = crime_transformed.groupby(["region", "victim_offender_relationship"])["victim_offender_relationship"].count()
vo_by_region

region     victim_offender_relationship
midwest    intimates                        638
           other relatives                  325
           stranger                        1571
           unknown number of offenders      206
           unknown relationship             212
           well-known acquaintances        1399
northeast  intimates                        289
           other relatives                  131
           stranger                         884
           unknown number of offenders      110
           unknown relationship             122
           well-known acquaintances         726
south      intimates                        771
           other relatives                  477
           stranger                        1902
           unknown number of offenders      230
           unknown relationship             279
           well-known acquaintances        1515
west       intimates                        500
           other relatives                  357
           stranger                        2168
           unknown number of offenders      198
           unknown relationship             233
           well-known acquaintances        1286
Name: victim_offender_relationship, dtype: int64